.main-div{
    background: #ffffff none repeat scroll 0 0;
    border-radius: 2px;
    margin: 10px auto 30px;
    max-width: 38%;
    padding: 50px 70px 70px 71px;

}

.side-menu-wrapper { 
	background: rgba(0,0,0,.95);
	padding: 40px 0 0 40px;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	z-index: 2;
	transition: 0.5s;
	width: 250px;
	font: 20px "Courier New", Courier, monospace;
	box-sizing: border-box;
}
.side-menu-wrapper > ul{
	list-style:none;
	padding:0;
	margin:0;
    overflow-y: auto;
	height:95%;
}
.side-menu-wrapper > ul > li > a {
    display: block;
    border-bottom: 1px solid #131313;
    padding: 6px 4px 6px 4px;
    color: #989898;
    transition: 0.3s;
	text-decoration: none;
}
.side-menu-wrapper > a.menu-close {
    padding: 8px 0 4px 23px;
    color: #6B6B6B;
    display: block;
    margin: -30px 0 -10px -20px;
    font-size: 35px;
    text-decoration: none;
}

.menu-overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.7);
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
    opacity: 0;
    transition: opacity 1s;
}